In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./cereal.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [4]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [8]:
df.tail(77)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [15]:
df['name']

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [17]:
df['name'].head(10)

0                    100% Bran
1            100% Natural Bran
2                     All-Bran
3    All-Bran with Extra Fiber
4               Almond Delight
5      Apple Cinnamon Cheerios
6                  Apple Jacks
7                      Basic 4
8                    Bran Chex
9                  Bran Flakes
Name: name, dtype: object

In [18]:
df['calories']

0      70
1     120
2      70
3      50
4     110
     ...
72    110
73    110
74    100
75    100
76    110
Name: calories, Length: 77, dtype: int64

In [23]:
df[['name', 'calories', 'fat']]

                         name  calories  fat
0                   100% Bran        70    1
1           100% Natural Bran       120    5
2                    All-Bran        70    1
3   All-Bran with Extra Fiber        50    0
4              Almond Delight       110    2
..                        ...       ...  ...
72                    Triples       110    1
73                       Trix       110    1
74                 Wheat Chex       100    1
75                   Wheaties       100    1
76        Wheaties Honey Gold       110    1

[77 rows x 3 columns]

In [21]:
df[['name', 'calories']].tail(8)

                   name  calories
69    Total Corn Flakes       110
70    Total Raisin Bran       140
71    Total Whole Grain       100
72              Triples       110
73                 Trix       110
74           Wheat Chex       100
75             Wheaties       100
76  Wheaties Honey Gold       110

In [26]:
df.set_index('calories')

,name,mfr,type,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
calories,,,,,,,,,,,,,,,
70,100% Bran,N,C,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
120,100% Natural Bran,Q,C,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
70,All-Bran,K,C,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
50,All-Bran with Extra Fiber,K,C,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
110,Almond Delight,R,C,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Triples,G,C,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
110,Trix,G,C,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
100,Wheat Chex,R,C,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
100,Wheaties,G,C,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
110,Wheaties Honey Gold,G,C,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [33]:
df[['name', 'rating', 'sugars']].sort_values('sugars', ascending=False)

                      name     rating  sugars
66                  Smacks  31.230054      15
30            Golden Crisp  35.252444      15
70       Total Raisin Bran  28.592785      14
52   Post Nat. Raisin Bran  37.840594      14
6              Apple Jacks  33.174094      14
..                     ...        ...     ...
55            Puffed Wheat  63.005645       0
54             Puffed Rice  60.756112       0
20  Cream of Wheat (Quick)  64.533816       0
63          Shredded Wheat  68.235885       0
57          Quaker Oatmeal  50.828392      -1

[77 rows x 3 columns]

In [34]:
df[['name', 'rating', 'sugars']].sort_values('sugars', ascending=False).set_index('sugars')

                          name     rating
sugars
 15                     Smacks  31.230054
 15               Golden Crisp  35.252444
 14          Total Raisin Bran  28.592785
 14      Post Nat. Raisin Bran  37.840594
 14                Apple Jacks  33.174094
...                        ...        ...
 0                Puffed Wheat  63.005645
 0                 Puffed Rice  60.756112
 0      Cream of Wheat (Quick)  64.533816
 0              Shredded Wheat  68.235885
-1              Quaker Oatmeal  50.828392

[77 rows x 2 columns]

In [39]:
mean_sodium = df['sodium'].mean()
mean_sodium

159.67532467532467

In [53]:
median_sodium = df['sodium'].median()
median_sodium

180.0

In [54]:
mode_sodium = df['carbo'].mode()
mode_sodium

0    13.0
1    15.0
dtype: float64

In [49]:
min_carbo = df['carbo'].min()
min_carbo

-1.0

In [65]:
min_carbo = df[['name', 'carbo']].min()
min_carbo

name     100% Bran
carbo         -1.0
dtype: object

In [63]:
rating = df['rating'].mean().round()
rating

43.0

In [68]:
max_carbo = df[['carbo', 'name']].max()
max_carbo

carbo                   23.0
name     Wheaties Honey Gold
dtype: object

In [71]:
max_carbo = df[['calories', 'name']].max()
max_carbo

calories                    160
name        Wheaties Honey Gold
dtype: object

In [79]:
df[['name','carbo']].sort_values('carbo').head(10)

                         name  carbo
57             Quaker Oatmeal   -1.0
0                   100% Bran    5.0
2                    All-Bran    7.0
1           100% Natural Bran    8.0
3   All-Bran with Extra Fiber    8.0
66                     Smacks    9.0
55               Puffed Wheat   10.0
19         Cracklin' Oat Bran   10.0
5     Apple Cinnamon Cheerios   10.5
59            Raisin Nut Bran   10.5

In [88]:
df[df['carbo'] < 15][['name','carbo']].sort_values('carbo').tail()

                   name  carbo
25       Frosted Flakes   14.0
58          Raisin Bran   14.0
4        Almond Delight   14.0
26  Frosted Mini-Wheats   14.0
28        Fruitful Bran   14.0

In [89]:
df['carbo'].std()

4.278956280325908

In [94]:
df[['rating', 'name']]

       rating                       name
0   68.402973                  100% Bran
1   33.983679          100% Natural Bran
2   59.425505                   All-Bran
3   93.704912  All-Bran with Extra Fiber
4   34.384843             Almond Delight
..        ...                        ...
72  39.106174                    Triples
73  27.753301                       Trix
74  49.787445                 Wheat Chex
75  51.592193                   Wheaties
76  36.187559        Wheaties Honey Gold

[77 rows x 2 columns]